Description=Client service for automatic provisioning from boxter server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/ssh -tt -o "ServerAliveInterval 20" -o "ServerAliveCountMax 3" -i /home/fri/.ssh/tunnel.id_rsa -R 0:localhost:660 boxter@boxter.uliza.fm
User=fri
Group=fri
Restart=always
RestartSec=69

[Install]
WantedBy=multi-user.target
